---
import ThemeToggle from '@/components/items/ThemeToggle.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import LanguagePicker from '@/components/items/LanguagePicker.astro';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { currentLocale } = Astro;

const navItems = [
	{
		title: t('nav.experience'),
		label: 'experiencia',
		url: currentLocale === 'en' ? '/en/#experiencia' : '/es/#experiencia',
	},
	{
		title: t('nav.projects'),
		label: 'proyectos',
		url: currentLocale === 'en' ? '/en/#proyectos' : '/es/#proyectos',
	},
	{
		title: t('nav.about'),
		label: 'sobre-mi',
		url: currentLocale === 'en' ? '/en/#sobre-mi' : '/es/#sobre-mi',
	},
	/*
	{
		title: t('nav.trajectory'),
		label: 'trayectoria',
		url: currentLocale === 'en' ? '/en/#trayectoria' : '/es/#trayectoria',
	},
	*/
	{
		title: t('nav.contact'),
		label: 'contacto',
		url: 'mailto:patricia.guillengonzalez@gmail.com',
	},
];
---

<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
	<nav
		class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
	>
		{
			navItems.map((link) => (
				<a
					class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
					aria-label={link.label}
					href={link.url}
				>
					{link.title}
				</a>
			))
		}
		<ThemeToggle />
		<LanguagePicker />
	</nav>
</header>

<script>
	document.addEventListener('astro:page-load', () => {
		const sections = document.querySelectorAll('section');
		const navItems = document.querySelectorAll('header nav a');

		const callback = (entries: any[]) => {
			entries.forEach((entry) => {
				if (entry.isIntersecting) {
					navItems.forEach((item) => {
						if (item.getAttribute('aria-label') == entry.target.id) {
							item.classList.add('text-yellow-500');
						} else {
							item.classList.remove('text-yellow-500');
						}
					});
				}
			});
		};

		const observer = new IntersectionObserver(callback, {
			root: null,
			rootMargin: '0px',
			threshold: 0.3,
		});

		sections.forEach((section) => {
			observer.observe(section);
		});

		// Cleanup function
		document.onvisibilitychange = () => {
			if (document.visibilityState === 'hidden') {
				observer.disconnect();
			} else {
				sections.forEach((section) => {
					observer.observe(section);
				});
			}
		};
	});
</script>

<style>
	nav {
		animation: nav-shadown 1s linear both;
		animation-timeline: scroll();
		animation-range: 0 100px;
		--tw-bg-opacity: 1;
		background-color: rgb(31 41 55 / var(--tw-bg-opacity)) !important;
	}

	@keyframes nav-shadown {
		to {
			box-shadow:
				0 10px 15px -3px rgba(0, 0, 0, 0.1),
				0 4px 6px -4px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(20px);
			background-color: rgba(255, 255, 255, 0.5);
			border-width: 1px;
			border-color: rgba(255, 255, 255, 0.1);
		}
	}

	@media (prefers-color-scheme: dark) {
		@keyframes nav-shadown {
			to {
				background-color: rgba(31, 41, 55, 0.9);
				box-shadow:
					0 20px 25px -5px rgba(0, 0, 0, 0.1),
					0 8px 10px -6px rgba(0, 0, 0, 0.1);
			}
		}
	}
</style>
