---
const personalImageAlt = 'Patricia Guillén González';
import Badge from '@/components/items/Badge.astro';
import LinkedInIcon from '@/components/icons/LinkedIn.astro';
import MailIcon from '@/components/icons/Mail.astro';
import SocialPill from '@/components/items/SocialPill.astro';
import { getLangFromUrl, useTranslations } from '@/i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="max-w-xl">
	<div class="flex gap-4 mb-4">
		<img class="rounded-full shadow-lg size-16" src="/patricia.jpeg" alt={personalImageAlt} />
		<a
			href="https://es.linkedin.com/in/patriciaguillengonzalez"
			target="_blank"
			rel="noopener"
			class="flex items-center transition md:justify-center md:hover:scale-105"
		>
			<Badge>{t('personTop.badgeWork')}</Badge>
		</a>
		<a
			href="https://es.linkedin.com/in/patriciaguillengonzalez"
			target="_blank"
			rel="noopener"
			class="flex items-center transition md:justify-center md:hover:scale-105"
		>
			<Badge>{t('personTop.badgeFreelance')}</Badge>
		</a>
	</div>
	<h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">
		{t('personTop.title')}
	</h1>
	<p
		set:html={t('personTop.bio')}
		class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
	/>
	<nav class="flex flex-wrap gap-4 mt-8">
		<SocialPill href="mailto:pat.guillengonzalez@gmail.com">
			<MailIcon class="size-4" />
			{t('personTop.mail')}
		</SocialPill>
		<SocialPill href="https://es.linkedin.com/in/patriciaguillengonzalez">
			<LinkedInIcon class="size-4" />
			{t('personTop.linkedin')}
		</SocialPill>
	</nav>
</div>
