---
interface Props {
	tags?: string[];
}

export type TagType = {
	name: string;
	class: string;
	icon?: (_props: Record<string, any>) => any;
};

export type TagsType = {
	[key: string]: TagType;
};

export const TAGS: TagsType = {
	TCC: {
		name: 'TCC',
		class: 'bg-[#023434] text-white',
	},
	ACT: {
		name: 'ACT',
		class: 'bg-[#023434] text-white',
	},
	TIE: {
		name: 'TIE',
		class: 'bg-[#023434] text-white',
	},
	TEA: {
		name: 'TEA',
		class: 'bg-[#023434] text-white',
	},
	DI: {
		name: 'DI',
		class: 'bg-[#023434] text-white',
	},
	NEE: {
		name: 'NEE',
		class: 'bg-[#023434] text-white',
	},
	SPSS: {
		name: 'SPSS',
		class: 'bg-[#023434] text-white',
	},
	INVESTIGACIÓN: {
		name: 'Investigación',
		class: 'bg-[#023434] text-white',
	},
	VIRUS_INMUNODEFICIENCIA_HUMANA_VIH: {
		name: 'Virus de la Inmunodeficiencia Humana (VIH)',
		class: 'bg-[#023434] text-white',
	},
	ANSIEDAD: {
		name: 'Ansiedad',
		class: 'bg-[#023434] text-white',
	},
	DEPRESIÓN: {
		name: 'Depresión',
		class: 'bg-[#023434] text-white',
	},
	PAREJA: {
		name: 'Pareja',
		class: 'bg-[#023434] text-white',
	},
	COMUNICACIÓN: {
		name: 'Comunicación',
		class: 'bg-[#023434] text-white',
	},
	DIFERENCIACIÓN: {
		name: 'Diferenciación',
		class: 'bg-[#023434] text-white',
	},
	SATISFACCIÓN: {
		name: 'Satisfacción',
		class: 'bg-[#023434] text-white',
	},
	CORRELACIÓN: {
		name: 'Correlación',
		class: 'bg-[#023434] text-white',
	},
	REGRESIÓN: {
		name: 'Regresión',
		class: 'bg-[#023434] text-white',
	},
	RESEARCH: {
		name: 'Research',
		class: 'bg-[#023434] text-white',
	},
	HUMAN_IMMUNODEFICIENCY_VIRUS_HIV: {
		name: 'Human Immunodeficiency Virus (HIV)',
		class: 'bg-[#023434] text-white',
	},
	ANXIETY: {
		name: 'Anxiety',
		class: 'bg-[#023434] text-white',
	},
	DEPRESSION: {
		name: 'Depression',
		class: 'bg-[#023434] text-white',
	},
	RELATIONSHIPS: {
		name: 'Relationships',
		class: 'bg-[#023434] text-white',
	},
	COMMUNICATION: {
		name: 'Communication',
		class: 'bg-[#023434] text-white',
	},
	DIFFERENTIATION: {
		name: 'Differentiation',
		class: 'bg-[#023434] text-white',
	},
	SATISFACTION: {
		name: 'Satisfaction',
		class: 'bg-[#023434] text-white',
	},
	CORRELATION: {
		name: 'Correlation',
		class: 'bg-[#023434] text-white',
	},
	REGRESSION: {
		name: 'Regression',
		class: 'bg-[#023434] text-white',
	},
};

const { tags } = Astro.props;
---

<ul class="flex flex-wrap mb-2 gap-x-2">
	{
		tags?.map((item) => {
			const tag: TagType = TAGS[item];
			if (tag) {
				return (
					<li>
						<span
							class={`flex gap-x-2 mt-2 rounded-full text-xs ${tag.class} py-1 px-2`}
						>
							{tag.icon && <tag.icon class="size-4" />}
							{tag.name}
						</span>
					</li>
				);
			}
		})
	}
</ul>
